<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styling.css">
    <style type="text/css">
    
    th,td
    {

      padding: 10px;
    }
    th
    {
      background-color: #162A6E;
      color: white;
    }
    button
    {
      position:absolute;
      transition: 0.1s ease;
        left: 600px;
        top: 200px;

    }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color": #98E9E3>
    <div class="container" style="width:1535px;background:#98E9E3;border:2px dotted dodgerblue">
      <p align="right">Click to Logout-->
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p> 
    </div>
  </body>
</html>